.register {
  min-height: 100%;
  width: 100%;
  position: relative; }
  .register::after, .register::before {
    display: table;
    content: '';
    clear: both; }
  .register > div {
    margin: 0 auto; }
  .register .register-content {
    margin-top: 10%; }
    @media screen and (max-width: 480px) {
      .register .register-content {
        max-width: 300px; } }
    @media screen and (min-width: 480px) {
      .register .register-content {
        max-width: 500px; } }
    .register .register-content .register-form-button {
      width: 100%; }
