.register {
    min-height: 100%;
    width: 100%;
    position: relative;
    &::after,
    &::before {
        display: table;
        content: '';
        clear: both;
    }
    &>div {
        margin: 0 auto;
    }
    .register-content {
        margin-top: 10%;
        @media screen and (max-width: 480px){
            max-width: 300px;
        }
        @media screen and (min-width: 480px){
            max-width: 500px;
        }
        .register-form-button {
            width: 100%;
        }
    }
}