.home {
  height: 100%; }
  .home > div {
    min-height: 100%; }
  .home .logo {
    color: #fff;
    text-align: center;
    height: 32px;
    margin: 16px;
    line-height: 32px;
    background: rgba(255, 255, 255, 0.2); }
  .home .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s; }
    .home .trigger:hover {
      color: #1890ff; }
  .home .collapsed {
    margin-left: 80px;
    transition: all .2s; }
  .home .uncollapsed {
    margin-left: 200px;
    transition: all .2s; }
