.dashboard {
    .dashboard-row {
        margin-top: 20px;
    }
    .dashboard-item {
        background-color: #f3f5f8;
        color: #000;
        height: 60px;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        span {
            color: rgba(0,0,0,.45);
        }
        .dashboard-item__amount {
            font-size: 20px;
        }
    }
    .ant-carousel .slick-slide {
        text-align: center;
        height: 160px;
        line-height: 160px;
        background: #364d79;
        overflow: hidden;
    }
    .ant-carousel .slick-slide h3 {
        color: #fff;
    }
    img {
        width: 100%;
        display: inline-block;
    }
}