.login {
  min-height: 100%;
  width: 100%;
  position: relative; }
  .login::after, .login::before {
    display: table;
    content: '';
    clear: both; }
  .login > div {
    margin: 0 auto; }
  .login .login-content {
    margin-top: 15%;
    max-width: 300px; }
    .login .login-content .login-form-button {
      width: 100%; }
    .login .login-content .info-tip {
      position: absolute;
      top: 2px;
      right: -20px; }
  .login .login-footer {
    position: fixed;
    bottom: 15px;
    width: 100%;
    text-align: center; }
