.login {
    min-height: 100%;
    width: 100%;
    position: relative;
    &::after,
    &::before {
        display: table;
        content: '';
        clear: both;
    }
    &>div {
        margin: 0 auto;
    }
    .login-content {
        margin-top: 15%;
        max-width: 300px;
        .login-form-button {
            width: 100%;
        }
        .info-tip {
            position: absolute;
            top: 2px;
            right: -20px;
        }
    }
    .login-footer {
        position: fixed;
        bottom: 15px;
        width: 100%;
        text-align: center;
    }
}